<div class="modal" id="contact-modal">
    <div class="modal__content">
        <form class="form form--reg" action="/">
            <div class="form__group form__group--mb">
                <input class="form__control form__control--mb" type="text" placeholder="Ваше имя" >
                <span class="form__line"></span>
                <input class="form__control form__control--mb" type="text" placeholder="Ваш email" >
                <span class="form__line"></span>
                <input class="form__control form__control--mb" type="text" placeholder="Текст сообщения"  >
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--mb">
                <div class="form__footer ">
                    <button class="btn btn--blue btn--lessrounded btn--small">Отправить</button>
                </div>
            </div>
        </form>
        <ul class="modal__contacts">
            <li class="modal__contacts-item">e-mail:
                <a href="mailto:Delaerous12@yandex.ru" class="modal__contacts-link">Delaerous12@yandex.ru</a>
            </li>
            <li class="modal__contacts-item">тел:
                <a href="tel:+79112429474" class="modal__contacts-link">+79112429474</a>
            </li>
        </ul>
        <button type="button" class="modal__cross">
            <img class="modal__cross-img" src="./../assets/images/modal/cross.svg" alt="Закрыть">
        </button>
    </div>
</div>